.pagination-box {
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: -20px;
}

.pagination-box button {
  margin-right: 15px;
}

.page {
  margin: 0 auto;
  color: rgb(19, 19, 19);
  width: 22px;
  height: 22px;
  border-radius: 18px;
  background-color: rgb(210, 210, 210);
  font-size: 11px;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-page {
  background-color: rgb(43, 43, 43);
  color: #fff;
}